# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../notification-ex\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\projects\notification-ex\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
